body{
    background-color: rgb(223, 213, 213);
    font-family: sans-serif ;
}
.container{
    margin:auto;
    width: 90%;
    margin-top: 10px;
}
h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(77, 77, 77, 0.411);
}
p{
    font-size: 18pt;
}
input, button{
    padding: 5px;
}
.img_producto{
    height: 200px;
    width: 200px;
    transition: 300ms;
}

.img_producto:hover{
    transform: scale(1.4);
}




